@using Karion.BusinessSolution.Authorization
@using Karion.BusinessSolution.Web.Areas.App.Models.DichVus
@using Karion.BusinessSolution.Web.Areas.App.Startup
@model DichVusViewModel
@{
    ViewBag.CurrentPageName = AppPageNames.Common.DichVus;
}

@section Scripts
{
    <script abp-src="/view-resources/Areas/App/Views/DichVus/Index.js" asp-append-version="true"></script>
}

<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">


    <div class="kt-subheader kt-grid__item">
        <div class="@(await GetContainerClass())">
            <div class="kt-subheader__main">
                <h3 class="kt-subheader__title">
                    <span>@L("DichVus")</span>
                </h3>
                <span class="kt-subheader__separator kt-subheader__separator--v"></span>
                <span class="kt-subheader__desc">
                    @L("DichVusHeaderInfo")
                </span>
            </div>
            <div class="kt-subheader__toolbar">
                <div class="kt-subheader__wrapper">
                    <button id="ExportToExcelButton" class="btn btn-outline-success">
                        <i class="fa fa-file-excel"></i> @L("ExportToExcel")</button>
                    @if (IsGranted(AppPermissions.Pages_DichVus_Create))
                    {
                        <button id="CreateNewDichVuButton" class="btn btn-primary blue">
                            <i class="fa fa-plus"></i> @L("CreateNewDichVu")</button>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="@(await GetContainerClass()) kt-grid__item kt-grid__item--fluid">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body">
                <div class="kt-form">
                    <div class="row align-items-center mb-4">
                        <div class="col-xl-12">
                            <div class="form-group align-items-center">
                                <div class="input-group">
                                    <input type="text" id="DichVusTableFilter" class="form-control m-input" placeholder="@L("SearchWithThreeDot")" value="@Model.FilterText">
                                    <span class="input-group-btn">
                                        <button id="GetDichVusButton" class="btn btn-primary" type="submit">
                                            <i class="flaticon-search-1"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="AdvacedAuditFiltersArea" style="display: none" class="row mb-4">
                    <div class="col-md-12">
                        <div class="kt-separator kt-separator--border-dashed"></div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="TenFilterId">@L("Ten")</label>
                            <input type="text" class="form-control" name="tenFilter" id="TenFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MoTaFilterId">@L("MoTa")</label>
                            <input type="text" class="form-control" name="moTaFilter" id="MoTaFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="ChuyenKhoaTenFilterId">(@L("ChuyenKhoa")) @L("Ten")</label>
                            <input type="text" class="form-control" name="chuyenKhoaTenFilter" id="ChuyenKhoaTenFilterId">
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-xl-12">
                        <span id="ShowAdvancedFiltersSpan" class="text-muted clickable-item">
                            <i class="fa fa-angle-down"></i> @L("ShowAdvancedFilters")</span>
                        <span id="HideAdvancedFiltersSpan" class="text-muted clickable-item" style="display: none">
                            <i class="fa fa-angle-up"></i> @L("HideAdvancedFilters")</span>
                    </div>
                </div>
                <div class="row align-items-center">
                    <table id="DichVusTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                        <thead>
                        <tr>
                            <th>@L("Actions")</th>
                            <th>@L("ChuyenKhoa")</th>
                            <th>@L("DichVus")</th>
                            <th>@L("GiaDichVus")</th>
                            <th>@L("MoTaDichVu")</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>