@using Karion.BusinessSolution.Authorization
@using Karion.BusinessSolution.Web.Areas.App.Models.ChiTietThanhToans
@using Karion.BusinessSolution.Web.Areas.App.Startup
@model ChiTietThanhToansViewModel
@{
    ViewBag.CurrentPageName = AppPageNames.Common.ChiTietThanhToans;
}
@section Scripts
{
    <script abp-src="/view-resources/Areas/App/Views/ChiTietThanhToans/Index.js" asp-append-version="true"></script>
}
<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">


                <div class="kt-subheader kt-grid__item">
                  <div class="@(await GetContainerClass())">
                    <div class="kt-subheader__main">
                        <h3 class="kt-subheader__title">
                            <span>@L("ChiTietThanhToans")</span>
                        </h3>
                        <span class="kt-subheader__separator kt-subheader__separator--v"></span>
                        <span class="kt-subheader__desc">
                            @L("ChiTietThanhToansHeaderInfo")
                        </span>
                    </div>
                    <div class="kt-subheader__toolbar">
                        <div class="kt-subheader__wrapper">
                            <button id="ExportToExcelButton" class="btn btn-outline-success"><i class="fa fa-file-excel"></i> @L("ExportToExcel")</button>
            @if (IsGranted(AppPermissions.Pages_ChiTietThanhToans_Create))
                            {
                                <button id="CreateNewChiTietThanhToanButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewChiTietThanhToan")</button>                
                            }
                        </div>
                    </div>
                  </div>
                </div>
            
<div class="@(await GetContainerClass()) kt-grid__item kt-grid__item--fluid">   
    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__body">
            <div class="kt-form">
                <div class="row align-items-center mb-4">
                    <div class="col-xl-12">
                        <div class="form-group align-items-center">
                            <div class="input-group">
                                <input type="text" id="ChiTietThanhToansTableFilter" class="form-control m-input" placeholder="@L("SearchWithThreeDot")" value="@Model.FilterText">
                                <span class="input-group-btn">
                                    <button id="GetChiTietThanhToansButton" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
                <div id="AdvacedAuditFiltersArea" style="display: none" class="row mb-4">
                    <div class="col-md-12">
						<div class="kt-separator kt-separator--border-dashed"></div>
					</div>

                            <div class="col-md-3">
                                 <div class="form-group">
									<label  for="MinSoTienThanhToanFilterId">@L("MinMax") @L("SoTienThanhToan")</label>
									<div class="input-group">
										<input type="number" class="form-control m-input" placeholder="@L("MinValue")" name="minSoTienThanhToanFilter" id="MinSoTienThanhToanFilterId"/>
                                        <input type="number" class="form-control m-input" placeholder="@L("MaxValue")" name="maxSoTienThanhToanFilter"  id="MaxSoTienThanhToanFilterId"/>
									</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                 <div class="form-group">
									<label  for="MinLoaiThanhToanFilterId">@L("MinMax") @L("LoaiThanhToan")</label>
									<div class="input-group">
										<input type="number" class="form-control m-input" placeholder="@L("MinValue")" name="minLoaiThanhToanFilter" id="MinLoaiThanhToanFilterId"/>
                                        <input type="number" class="form-control m-input" placeholder="@L("MaxValue")" name="maxLoaiThanhToanFilter"  id="MaxLoaiThanhToanFilterId"/>
									</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                    <div class="form-group">
										<label for="MinNgayThanhToanFilterId">@L("NgayThanhToanRange")</label>
										<div class="input-group">
											<input class="form-control m-input date-picker" type="text" placeholder="@L("MinValue")"  id="MinNgayThanhToanFilterId">
											<span style="line-height: 40px;padding: 0 15px 0 15px;"> &mdash; </span>
											<input class="form-control m-input date-picker" type="text" placeholder="@L("MaxValue")"  id="MaxNgayThanhToanFilterId">
										</div>
									</div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="LichHenKhamMoTaTrieuChungFilterId">(@L("LichHenKham")) @L("MoTaTrieuChung")</label>
									<input type="text" class="form-control" name="lichHenKhamMoTaTrieuChungFilter" id="LichHenKhamMoTaTrieuChungFilterId">
								</div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="NguoiBenhUserNameFilterId">(@L("NguoiBenh")) @L("UserName")</label>
									<input type="text" class="form-control" name="nguoiBenhUserNameFilter" id="NguoiBenhUserNameFilterId">
								</div>
                            </div>
                </div>
                <div class="row mb-4">
                    <div class="col-xl-12">
                        <span id="ShowAdvancedFiltersSpan" class="text-muted clickable-item"><i class="fa fa-angle-down"></i> @L("ShowAdvancedFilters")</span>
                        <span id="HideAdvancedFiltersSpan" class="text-muted clickable-item" style="display: none"><i class="fa fa-angle-up"></i> @L("HideAdvancedFilters")</span>
                    </div>
                </div>
            <div class="row align-items-center">
                <table id="ChiTietThanhToansTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                    <thead>
                        <tr>
                            <th>@L("Actions")</th>
								<th>@L("SoTienThanhToan")</th>
								<th>@L("LoaiThanhToan")</th>
								<th>@L("NgayThanhToan")</th>
								<th>@L("LichHenKhamMoTaTrieuChung")</th>
								<th>@L("NguoiBenhUserName")</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
  </div>
</div>