@* Cập nhật: Tối ưu UI + xử lý password không bắt buộc nhập *@
@using System.Globalization
@using Karion.BusinessSolution.Web.Areas.App.Models.Common.Modals
@using Karion.BusinessSolution.Web.Areas.App.Models.NguoiBenhs
@model CreateOrEditNguoiBenhModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditNguoiBenh")) : L("CreateNewNguoiBenh")))

<div class="modal-body">
    <form name="NguoiBenhInformationsForm" role="form" novalidate class="form-validation">
        @if (Model.IsEditMode)
        {
            <input type="hidden" name="id" value="@Model.NguoiBenh.Id" />
        }

        <div class="row">
            <div class="col-sm-4 text-center mb-3">
                <img src="@(string.IsNullOrEmpty(Model.NguoiBenh.ProfilePicture) ? Url.Content("~/Common/Images/default-profile-picture.png") : Model.NguoiBenh.ProfilePicture)" width="128" height="128" class="img-thumbnail rounded-circle" />
            </div>
            <div class="col-sm-8">
                <div class="form-group">
                    <label>@L("HoVaTen")</label>
                    <input class="form-control" name="hoVaTen" value="@Model.NguoiBenh.HoVaTen" required />
                </div>
                <div class="form-group">
                    <label>@L("GioiTinh")</label>
                    <input class="form-control" name="gioiTinh" value="@Model.NguoiBenh.GioiTinh" />
                </div>
                <div class="form-group">
                    <label>Ngày sinh</label>
                    <input class="form-control" type="number" name="ngaySinh" value="@Model.NguoiBenh.NgaySinh" min="1" max="31" />
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <label>Tháng sinh</label>
                        <input class="form-control" type="number" name="thangSinh" value="@Model.NguoiBenh.ThangSinh" min="1" max="12" />
                    </div>
                    <div class="form-group col">
                        <label>Năm sinh</label>
                        <input class="form-control" type="number" name="namSinh" value="@Model.NguoiBenh.NamSinh" min="1900" max="@DateTime.Now.Year" />
                    </div>
                </div>
                <div class="form-group">
                    <label>@L("DiaChi")</label>
                    <input class="form-control" name="diaChi" value="@Model.NguoiBenh.DiaChi" />
                </div>
                <div class="form-group">
                    <label>@L("UserName")</label>
                    <input class="form-control" name="userName" value="@Model.NguoiBenh.UserName" required />
                </div>
                <div class="form-group">
                    <label>@L("PhoneNumber")</label>
                    <input class="form-control" name="phoneNumber" value="@Model.NguoiBenh.PhoneNumber" required />
                </div>
                <div class="form-group">
                    <label>@L("EmailAddress")</label>
                    <input class="form-control" type="email" name="emailAddress" value="@Model.NguoiBenh.EmailAddress" />
                </div>
                <div class="form-group">
                    <label>@L("Password")</label>
                    <input class="form-control" name="password" type="password" autocomplete="new-password" placeholder="@(Model.IsEditMode ? L("Để trống nếu không có thay đổi") : "Nhập mật khẩu")" />
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="isActive" value="true" id="NguoiBenh_IsActive" @(Model.NguoiBenh.IsActive ? "checked" : "") />
                    <label class="form-check-label" for="NguoiBenh_IsActive">@L("IsActive")</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="isEmailConfirmed" value="true" id="NguoiBenh_IsEmailConfirmed" @(Model.NguoiBenh.IsEmailConfirmed ? "checked" : "") />
                    <label class="form-check-label" for="NguoiBenh_IsEmailConfirmed">@L("IsEmailConfirmed")</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="isPhoneNumberConfirmed" value="true" id="NguoiBenh_IsPhoneNumberConfirmed" @(Model.NguoiBenh.IsPhoneNumberConfirmed ? "checked" : "") />
                    <label class="form-check-label" for="NguoiBenh_IsPhoneNumberConfirmed">@L("IsPhoneNumberConfirmed")</label>
                </div>
            </div>
        </div>
    </form>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
